<h1>Appointments</h1>
<table class='table table-striped'>
{{#each controller}}
  <tr>
    <td>{{id}}</td>
    <td>{{reason}}</td>
    <td>{{at}}</td>
    <td>{{#each users}}
      {{name}}
    {{/each}}</td>
    <td>{{#each patients}}
      {{name}}
    {{/each}}</td>
  </tr>
{{/each}}
</table>
