<h1>Create a new Appointment</h1>
<form>
  <fieldset>
    <div>
      <label {{bindAttr for="reasonField.elementId"}}>Reason</label>
      {{view Ember.TextField valueBinding='reason' name='reason' viewName='reasonField'}}
    </div>
    <div>
      <label {{bindAttr for="atField.elementId"}}>At</label>
      {{ view Ember.TextField valueBinding='at' name='at' viewName='atField' type='date'}}
    </div>
    <div>
      <label for="patientIds">Patient(s)</label>
      <select multiple='multiple' id='patientIds' name="patientIds">
        {{#each controller.patients}}
          <option value="{{unbound id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <label for="userIds">Staff Member(s)</label>
      <select multiple='multiple' id='userIds' name="userIds">
        {{#each controller.users}}
          <option value="{{unbound id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
    <a href='#' {{action save}} class='btn btn-success'>Create</a>
  </fieldset>
</form>
<div class='page-header'></div>

<a href='#' {{action cancel}} class='btn btn-inverse'>Cancel</a>
